.filterName {
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto 1rem;
    align-items: center;
    font-size: large;
    text-align: left;
    min-width: 320px;
    font-family: Georgia;
}

.filterName:focus {
    background: linear-gradient(
        270deg,
        rgba(213, 223, 233, 1) 0%,
        rgba(251, 166, 213, 1) 100%
    );
    transition: background 0.5s ease;
}
